.container {
    background-color: blue; /*remove later*/
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 30px;
    column-gap: 10px;
    align-items: center;
    
  }

  .inputField input {
    height: 30px;
    margin-right: 10px;
    background-color:aquamarine;
    color: black;
    font-weight: bold;
    width: auto;
    border-radius: 10px;
  }
